#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 3px 3px rgba(249, 122, 32, 0.29);
  /* border: 2px solid; */
  border-radius: 40px;
  padding: .6em;
  height: 40rem;
  width: 40rem;
}

.container-counters{
  /* border: 2px solid red; */
  display: flex;
  align-content: start;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.container-main{
  /* border: 2px solid; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}






